<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} !\.php$
RewriteCond %{REQUEST_URI} !\.(css|jpe?g|png|js|gif|swf|ico)$
RewriteCond %{REQUEST_FILENAME} index.html
RewriteCond %{QUERY_STRING} (.*)$
RewriteRule ^index.html /src/router/index.php?f=index.html&%1 [L]

RewriteCond %{REQUEST_URI} !\.php$
RewriteCond %{REQUEST_URI} !\.(css|jpe?g|png|js|gif|swf|ico)$
RewriteCond %{REQUEST_URI} ^.*/$
RewriteCond %{QUERY_STRING} (.*)$
RewriteRule ^(.*)$ /src/router/index.php?f=$1index.html&%1 [L]

RewriteCond %{REQUEST_URI} !\.php$
RewriteCond %{REQUEST_URI} !\.(css|jpe?g|png|js|gif|swf|ico)$
RewriteCond %{REQUEST_URI} ^.*/index.html$
RewriteCond %{QUERY_STRING} (.*)$
RewriteRule ^(.*)index.html$ /src/router/index.php?f=$1index.html&%1 [L]

RewriteCond %{REQUEST_URI} !\.php$
RewriteCond %{REQUEST_URI} !\.(css|jpe?g|png|js|gif|swf|ico)$
RewriteCond %{QUERY_STRING} (.*)$
RewriteRule ^(.*)$ /src/router/index.php?f=$1&%1 [L]

RewriteCond %{REQUEST_URI} !\.php$
RewriteCond %{REQUEST_URI} !\.(css|jpe?g|png|js|gif|swf|ico)$
RewriteCond %{REQUEST_URI} ^/$
RewriteCond %{QUERY_STRING} (.*)$
RewriteRule ^$ /src/router/index.php?f=index.html&%1 [L]
</IfModule>